@import "variables";
.footer{
	border-top: 1px solid silver;
}
.footer_logo{
	img{
		width: 100px;
	}
}
.footer_heading{
	font-weight: 500;
	color: $grey;
}
.footer_links{
	font-size: 0.9rem;
	font-weight: 500;
	a{
		display: inline-block;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			width: 100%;
			height: 0%;
			bottom: 0%;
			left: 0%;
			z-index: -1;
			background-color: $light_orange;
			transition: all 0.3s ease;
		}
		&:hover{
			&:after{
				height:40%
			}
		}
	}
}
.social_medias{
	color: #ababaa;
	font-size: 1.4rem;
	i{
		transition: all 0.3s ease;
		&:hover{
			color:black;
		}
	}
}
.contact_content{
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	.contact_text{
		font-size: 0.9rem;
		color: $dark_grey;
		font-weight: 500;
	}
}
@media(max-width: 767px){
	.contact_content{
		writing-mode: horizontal-tb;
		transform: rotate(360deg);
	}
}
.footer_line{
	position: absolute;
	width: 2px;
	height: 32px;
	background-color: $dark_grey;
	right: 11px;
	top: 24px;
}
.up{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.6);
	position: relative;
	transition: all 0.3s ease;
	&:hover{
		border-color:rgba(0, 0, 0, 1);
	}
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}