.header {
  border-bottom: 1px solid silver;
}
.header .navigation {
  font-weight: 500;
}
.header .navigation a {
  position: relative;
}
.header .navigation a:after {
  content: "";
  position: absolute;
  width: 120%;
  transition: all 0.3s ease;
  height: 0px;
  bottom: 3px;
  left: -10%;
  background-color: #ffe7b8;
  z-index: -100;
  opacity: 1;
}
.header .navigation a:hover:after {
  height: 10px;
}
.header .search input {
  border: none !important;
  outline: none !important;
  width: 140px;
}
.header .search span {
  font-weight: 700;
}
.header .cart_icon {
  position: relative;
}
.header .cart_icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "2";
  font-size: 0.9rem;
  font-weight: 500;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffc23f;
}
.header .user_menu {
  position: relative;
}
.header .user_menu:after {
  position: absolute;
  top: 50%;
  left: 80%;
  content: "2";
  font-size: 0.9rem;
  font-weight: 500;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffc23f;
}

.logo img {
  width: 80px;
  height: 40px;
}

.menu_screen:hover {
  cursor: pointer;
}

/*====================================================================================================================================*/
.menu_small_screen {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999999999;
}

.menu_elements {
  display: none;
  position: absolute;
  z-index: 10000000000000000;
  width: 60%;
  height: 100%;
  left: 100%;
  top: 0;
  background-color: white;
}

img {
  display: inline-block;
  width: 50px;
}

h4 {
  font-size: 1.4rem;
  font-weight: bold;
  font-weight: 400;
}

.proposal {
  color: #ababaa;
  font-weight: 500;
  font-size: 0.8rem;
}

.right_user {
  position: relative;
}
.right_user:after {
  position: absolute;
  content: "2";
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 50%;
  background-color: #ffc23f;
  text-align: center;
  top: 100%;
  left: 100%;
  transform: translate(-80%, -50%);
}

.active_proposal_element {
  position: relative;
  /*border:1px solid silver;*/
}
.active_proposal_element .proposal_content {
  font-weight: 700 !important;
}

.proposal_element {
  transform: translateX(-25px);
  padding-left: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.proposal_element i {
  color: #878787;
  font-size: 1.2rem;
}
.proposal_element .proposal_content {
  font-weight: 400;
  color: black;
}

.fa-pen {
  font-size: 1rem !important;
  color: black !important;
}

.border_bottom {
  position: relative;
}
.border_bottom:after {
  position: absolute;
  content: "";
  width: 70%;
  height: 1px;
  background-color: #bcb8b6;
  bottom: 0;
  left: 15%;
}

.message {
  width: 60%;
}

.round {
  width: 60px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
  height: 60px;
  border-radius: 50%;
  padding: 4px 6px;
  background-color: #ffc23f;
  transition: all 0.3s ease;
  position: relative;
}
.round:hover {
  background-color: #feac2e;
}
.round i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close:hover {
  cursor: pointer;
}